.caixa-input{
    width: 4rem;
}
.navb{
    background-color: #FFEF82;
}
.notes{
    margin-bottom: 10rem;
}
.title{
    display: inline;
    width: max-content;
}
nav span{
    font-weight: 700;
}
.card-text{
    font-size: 1.2rem;
}